*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --white-color: #fffffb;
    --mainGreen-color:#aed581;
    --lightGreen-color: #e1ffb1;
    --darkGreen-color: #7da453;
}
body{
    width: 100%;
}
header{
    text-align: center;
}
.form{
    border: 1px solid red;
}
.date{
    text-align: right;
    width: 100%;
}
.contents{
    max-width: 800px;
    margin: auto;
    border: 1px solid green;
    line-height: 50px;
}
.contents input{
    width: 90%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid blue;
}
input{
    padding: 5px;
}
button{
    padding: 5px;
}
